# Byte-compiled / optimized
__pycache__/
*.py[co]
*$py.class

gcode/

misc_private/cnc1310/backlash.mp4
misc_private/cnc1419
#misc_private/cnc3018-frames-parts
#misc_private/others_stuff
misc_private/images

gcodeviewer/drawers/*h
gcodeviewer/drawers/*cpp
gcodeviewer/*.bin
gcodeviewer/*.prof

