# Byte-compiled / optimized
__pycache__/
*.py[co]
*$py.class

misc_private/text2path/fonts
misc_private/text2path/ziafont

misc_private/stl*
misc_private/cnc*
misc_private/mesh*
misc_private/images/
misc_private/numba/

gcodeviewer/drawers/*h
gcodeviewer/drawers/*cpp
gcodeviewer/*.bin
gcodeviewer/*.prof

